.popup-overlay {
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
}

.popup-content {
    width: 100%;
    max-width: 300px;
    right: -100%;
    bottom: 100px;
}

@keyframes fadeIn {}